* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* CSS */
.main-content {
    transition: margin-left 0.3s ease;  /* Smooth transition */
}

.main-content.collapsed-sidebar {
    margin-left: 5em;  /* Margin when sidebar is collapsed */
}

.main-content.expanded-sidebar {
    margin-left: 16.875em;  /* Margin when sidebar is expanded */
}

