body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url('./images/hero-bg.svg');
    background-repeat: no-repeat;
}

.header, .footer {
    background-color: #f8f9fa;
}

.header h5 {
    font-size: 1.25rem;
    margin: 0;
}

.main-content {
    padding: 2rem 0;
}


.btn-warning {
    background-color: #ffc107;
    border: none;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.section {
    padding: 60px 0; /* Space for sections */
    background-color: #fff;
  }
  
  .card {
    border: none; /* Remove card border */
    transition: transform 0.2s; /* Smooth transition for hover effect */
  }
  
  .card:hover {
    transform: scale(1.05); /* Scale up on hover */
  }
  
  .card-title {
    color: #333;
    text-decoration: none;
  }
  
  .abs-badge {
    position: absolute; /* Position for timing badge */
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Background for visibility */
    padding: 5px 10px;
    border-radius: 5px;
  }
  

  main {
    min-height: 85vh;
  }

  /* Main Styling */
.section-title, .section-subtitle, .section-text {
  text-align: center;
  color: #333;
}

/* Card Styles */
.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 100%; 
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Specific Card Colors */
.card-green {
  background-color: rgba(0, 128, 0, 0.1); 
}

.card-red {
  background-color: rgba(255, 0, 0, 0.1); 
}

.card-blue {
  background-color: rgba(0, 0, 255, 0.1); 
}


.badge {
  background-color: rgba(0, 0, 0, 0.1);
  color: #555;
}

.badge-green {
  background-color: rgba(0, 128, 0, 0.5); 
  color: #fff;
}

.badge-blue {
  background-color: rgba(0, 0, 255, 0.5); 
  color: #fff;
}

.badge-red {
  background-color: rgba(255, 0, 0, 0.5); /* Darker red for contrast */
  color: #fff;
}