<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>College of Computer Studies - AUF</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="views/assets/css/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>

  <!-- Header Section -->
  <header class="header bg-light py-3">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <img src="views/assets/images/ccs-logo.jpg" alt="University Logo" width="50" height="50" class="me-3">
        <div>
          <h5 class="mb-0">College of Computer Studies</h5>
          <small class="text-muted">Angeles University Foundation</small>
        </div>
      </div>
  
      <!-- Navigation Menu -->
      <nav>
        <ul class="navbar-nav d-flex flex-row me-3">
          <li class="nav-item me-3"><a href="#home" class="nav-link">Home</a></li>
          <li class="nav-item me-3"><a href="#about" class="nav-link">About</a></li>
          <li class="nav-item me-3"><a href="#courses" class="nav-link">Courses</a></li>
          <li class="nav-item me-3"><a href="#news" class="nav-link">News</a></li>
        </ul>
      </nav>
  
      <!-- Right-aligned Buttons -->
      <div class="d-flex">
        <a href="#login" class="btn border-danger text-danger me-2">Login</a>
        <a href="#enroll" class="btn bg-danger text-white">Enroll Now!</a>
      </div>

    </div>
  </header>
  

  <!-- Main Content -->

  <main class="container py-5">
    <div class="row align-items-center justify-content-center min-vh-90 mt-5">
  
      <!-- Left Column -->
      <div class="col-md-6">
        <h1 class="display-4 fw-bold animated-text"></h1>
        <p class="lead">Join our innovative computer school and experience a seamless enrollment process. Gain the skills and knowledge needed to thrive in the ever-evolving tech industry!</p>
        
        <!-- Call to Action Button -->
        <a href="#" class="btn btn-warning btn-lg mb-4">Get Started</a>

      </div>
  
      <!-- Right Column (Image of the Student) -->
      <div class="col-md-6 text-center position-relative">
        <div class=>
            <img src="views/assets/images/ccs.jpg" width="500" height="400" alt="hero banner" class="img-fluid rounded">
        </div>
    
        <div class="position-absolute top-10 end-1" style="transform: translate(-20%, -40%);">
            <img src="views/assets/images/hero-shape-1.svg" width="350" height="400" alt="small image" class="img-fluid rounded">
        </div>

        <div class="position-absolute top-0 end-0" style="transform: translate(10%, -20%);">
          <img src="views/assets/images/dodo.jpg" width="150" height="300" alt="small image" class="img-fluid rounded">
      </div>
      </div>
    
    </div>
  </main>

  <!--- #CATEGORY -->

  <section class="section category" aria-label="category">
    <div class="container">

        <p class="section-subtitle text-muted text-center">Degree Programs Offered</p>

        <h2 class="h2 section-title text-center">
          Explore Our Technology and Creative Arts Degree Programs
        </h2>

        <p class="section-text text-center mb-4">
          Whether you’re interested in software engineering, IT systems, or multimedia arts, we offer specialized paths to help you excel in your chosen field.
        </p>

        <ul class="row list-unstyled">

            <li class="col-md-4 mb-4">
                <div class="card card-green text-center">
                    <div class="card-body">
                        <div class="card-icon mb-3">
                            <img src="views/assets/images/category-1.svg" width="40" height="40" loading="lazy"
                                alt="Online Degree Programs" class="img-fluid icon-green">
                        </div>
                        <h3 class="h5">
                            <a href="#" class="card-title">Bachelor of Science in Information Technology (BSIT)</a>
                        </h3>
                        <p class="card-text">
                          Gain practical skills in IT, networking, and cybersecurity for roles in tech infrastructure and systems management.
                        </p>
                        <span class="badge badge-green">7 Courses</span>
                    </div>
                </div>
            </li>

            <li class="col-md-4 mb-4">
                <div class="card card-red text-center">
                    <div class="card-body">
                        <div class="card-icon mb-3">
                            <img src="views/assets/images/category-2.svg" width="40" height="40" loading="lazy"
                                alt="Off-Campus Programs" class="img-fluid icon-red">
                        </div>
                        <h3 class="h5">
                            <a href="#" class="card-title">Bachelor of Science in Computer Science (BSCS)</a>
                        </h3>
                        <p class="card-text">
                          Delve into programming, algorithms, and software development to excel in fields like software engineering and data science.
                        </p>
                        <span class="badge badge-red">8 Courses</span>
                    </div>
                </div>
            </li>

            <li class="col-md-4 mb-4">
                <div class="card card-blue text-center">
                    <div class="card-body">
                        <div class="card-icon mb-3">
                            <img src="views/assets/images/category-3.svg" width="40" height="40" loading="lazy"
                                alt="Hybrid Distance Programs" class="img-fluid icon-blue">
                        </div>
                        <h3 class="h5">
                            <a href="#" class="card-title">Bachelor of Multimedia Arts (BMMA)</a>
                        </h3>
                        <p class="card-text">
                          Master digital design, animation, and visual storytelling to thrive in multimedia and creative content production.
                        </p>
                        <span class="badge badge-blue">5 Courses</span>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</section>

  
  <!-- 
      - #ABOUT
  -->
  
  <section class="section about" id="about" aria-label="about">
    <div class="container">
      <figure class="about-banner position-relative mb-4">
        <img src="views/assets/images/about-banner.jpg" class="img-fluid rounded" alt="about banner">
      </figure>
  
      <div class="about-content text-center">
        <p class="section-subtitle text-muted">About Us</p>
  
        <h2 class="h2 section-title">
          Over 10 Years in <span class="span">Distance Learning</span> for Skill Development
        </h2>
  
        <p class="section-text mb-4">
          Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod ex tempor incididunt labore dolore magna aliqua.
        </p>
  
        <ul class="list-unstyled">
          <li class="about-item mb-2">
            <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>
            <span class="span">Expert Trainers</span>
          </li>
          <li class="about-item mb-2">
            <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>
            <span class="span">Online Remote Learning</span>
          </li>
          <li class="about-item mb-2">
            <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>
            <span class="span">Lifetime Access</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
  
  <!-- 
      - #COURSE
  -->
  
  <section class="section course" id="courses" aria-label="course">
    <div class="container">
  
      <p class="section-subtitle text-muted">Popular Courses</p>
  
      <h2 class="h2 section-title text-center">Pick A Course To Get Started</h2>
  
      <ul class="row list-unstyled">
  
        <li class="col-md-4 mb-4">
          <div class="card">
            <figure class="card-banner">
              <img src="./assets/images/course-1.jpg" class="img-fluid" alt="Build Responsive Real-World Websites with HTML and CSS">
              <div class="abs-badge">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <span class="span">3 Weeks</span>
              </div>
            </figure>
  
            <div class="card-body text-center">
              <span class="badge bg-warning">Beginner</span>
              <h3 class="h5">
                <a href="#" class="card-title">Build Responsive Real- World Websites with HTML and CSS</a>
              </h3>
              <div class="rating-wrapper mb-2">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <p class="rating-text">(5.0/7 Rating)</p>
              </div>
              <data class="price" value="29">$29.00</data>
              <ul class="list-unstyled mt-2">
                <li class="card-meta-item">
                  <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
                  <span class="span">8 Lessons</span>
                </li>
                <li class="card-meta-item">
                  <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
                  <span class="span">20 Students</span>
                </li>
              </ul>
            </div>
          </div>
        </li>
  
        <li class="col-md-4 mb-4">
          <div class="card">
            <figure class="card-banner">
              <img src="./assets/images/course-2.jpg" class="img-fluid" alt="Java Programming Masterclass for Software Developers">
              <div class="abs-badge">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <span class="span">8 Weeks</span>
              </div>
            </figure>
  
            <div class="card-body text-center">
              <span class="badge bg-warning">Advanced</span>
              <h3 class="h5">
                <a href="#" class="card-title">Java Programming Masterclass for Software Developers</a>
              </h3>
              <div class="rating-wrapper mb-2">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <p class="rating-text">(4.5 /9 Rating)</p>
              </div>
              <data class="price" value="49">$49.00</data>
              <ul class="list-unstyled mt-2">
                <li class="card-meta-item">
                  <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
                  <span class="span">15 Lessons</span>
                </li>
                <li class="card-meta-item">
                  <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
                  <span class="span">35 Students</span>
                </li>
              </ul>
            </div>
          </div>
        </li>
  
        <li class="col-md-4 mb-4">
          <div class="card">
            <figure class="card-banner">
              <img src="./assets/images/course-3.jpg" class="img-fluid" alt="The Complete JavaScript Course 2023: From Zero to Expert!">
              <div class="abs-badge">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <span class="span">6 Weeks</span>
              </div>
            </figure>
  
            <div class="card-body text-center">
              <span class="badge bg-warning">Intermediate</span>
              <h3 class="h5">
                <a href="#" class="card-title">The Complete JavaScript Course 2023: From Zero to Expert!</a>
              </h3>
              <div class="rating-wrapper mb-2">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <p class="rating-text">(4.7/8 Rating)</p>
              </div>
              <data class="price" value="39">$39.00</data>
              <ul class="list-unstyled mt-2">
                <li class="card-meta-item">
                  <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
                  <span class="span">10 Lessons</span>
                </li>
                <li class="card-meta-item">
                  <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
                  <span class="span">40 Students</span>
                </li>
              </ul>
            </div>
          </div>
        </li>
  
      </ul>
    </div>
  </section>
  
  
  

  <!-- Footer Section -->
  <footer class="footer bg-light py-3 text-center">
    <p class="mb-0">&copy; 2024 Angeles University Foundation</p>
  </footer>
  <script src="views/assets/js/script.js"></script>

</body>
</html>
