<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="views/assets/css/navbar.css">
</head>
<body>
    <nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-title">Dashboard</div>
        <div class="navbar-user">
            <span class="material-symbols-rounded">account_circle</span>
            <span>Welcome, User</span>
        </div>
    </div>
</nav>

<style>
    
</style>

    
</body>
</html>