<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="views/assets/css/sidebar.css">
    <link rel="stylesheet" href="views/assets/css/navbar.css">
    <link rel="stylesheet" href="views/assets/css/dashboard.css">
</head>
<body>
    <div id="app-container" class="app-container">
        {{> sidebar}}

        <div id="main-content" class="main-content">
            <div id="navbar1" class="navbar1">{{> navigation}}</div>
            <div id="panel" class="panel">
                {{#isDashboard}}
                    {{> dashboard}}
                {{/isDashboard}}

                {{#isEnrollees}}
                {{> enrollee}}
                {{/isEnrollees}}

                {{#isProgram}}
                    {{> program}}
                {{/isProgram}}
                
                {{#isStudent}}
                    {{> student}}
                {{/isStudent}}

                {{#isFaculty}}
                    {{> faculty}}
                {{/isFaculty}}

                {{#isSection}}
                    {{> section}}
                {{/isSection}}

                {{#isProfile}}
                    {{> profile}}
                {{/isProfile}}

                {{#isCourse}}
                    {{> course}}
                {{/isCourse}}

                {{#isSchedule}}
                    {{> schedule}}
                {{/isSchedule}}
            </div>
        </div> 
    </div>
    <script src="views/assets/js/sidebar.js"></script>

</body>
</html>
