<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Menu</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="views\assets\css\sidebar.css">

</head>
<body>
    <aside class="sidebar">
        <header class="sidebar-header">
            <a href="#" class="header-logo">
                <img src="views\assets\images\ccs-logo.jpg" alt="AUFCCS Logo" width="40px">
            </a>
            <button class="toggler sidebar-toggler">
                <span class="material-symbols-rounded"> chevron_left </span>
            </button>
            <button class="toggler menu-toggler">
                <span class="material-symbols-rounded"> menu </span>
            </button>
        </header>


        <nav class="sidebar-nav">
            <ul class="nav-list primary-nav">
                <li class="nav-item">
                    <a href="/student-info" class="nav-link">
                        <span class="material-symbols-rounded"> description </span>
                        <span class="nav-label">Profile Sheet</span>
                    </a>
                    <span class="nav-tooltip">Profile Sheet</span>
                </li>

                <li class="nav-item">
                    <a href="/student-info-view" class="nav-link">
                        <span class="material-symbols-rounded"> description </span>
                        <span class="nav-label">View Sheet</span>
                    </a>
                    <span class="nav-tooltip">View Sheet</span>
                </li>

                <li class="nav-item">
                    <a href="/student-info-edit" class="nav-link">
                        <span class="material-symbols-rounded"> description </span>
                        <span class="nav-label">Edit Sheet</span>
                    </a>
                    <span class="nav-tooltip">Edit Sheet</span>
                </li>

                <li class="nav-item">
                    <a href="/student-register" class="nav-link">
                        <span class="material-symbols-rounded"> school </span>
                        <span class="nav-label">Registration</span>
                    </a>
                    <span class="nav-tooltip">Registration</span>
                </li>
                <li class="nav-item">
                    <a href="/program" class="nav-link">
                        <span class="material-symbols-rounded"> history_edu </span>
                        <span class="nav-label">Schedule</span>
                    </a>
                    <span class="nav-tooltip">Schedule</span>
                </li>
            </ul>
            <ul class="nav-list secondary-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="material-symbols-rounded"> account_circle </span>
                        <span class="nav-label">Account</span>
                    </a>
                    <span class="nav-tooltip">Account</span>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link">
                        <span class="material-symbols-rounded"> logout </span>
                        <span class="nav-label">Logout</span>
                    </a>
                    <span class="nav-tooltip">Logout</span>
                </li>
            </ul>
        </nav>
    </aside>

    <!-- <script src="views\assets\js\sidebar.js"></script> -->

</body>
</html>
