<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="views\assets\css\shared.css">
</head>
<body>
    <div class="auth-container">
        <div class="auth-left">
            <div class="auth-form">
                <img src="views/assets/images/ccs-logo.jpg" alt="Logo" class="logo img-circle">
                <h2 class="student-title">Student Registration</h2>
                <p class="student-info">This form is for students applicants only</p>
                <form action="/register" method="POST">
                    <input type="text" name="complete_name" placeholder="Complete Name" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <div class="button-group"> 
                        <button href="/login" type="button" class="btn btn-secondary">Cancel</button>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="auth-right" style="background: url('views/assets/images/ccs.jpg') center/cover no-repeat;">
            <div class="overlay-text">
                <h2>Join the College of Computer Studies</h2>
                <p>The College of Computer Studies is dedicated to advancing knowledge in computing and technology, equipping students with the skills needed for innovative problem-solving in a digital world.</p>
            </div>
        </div>
    </div>
</body>
</html>
